* {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin: auto;
    padding: 10px;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding-right: 10%;
}

.active {
    background-color: blue;
    color: white;
    text-decoration: underline;
}

.rotated90 { 
    transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
    -moz-transform:rotate(90deg); 
    -o-transform:rotate(90deg); 
  }