<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>CSS animation</h1>

    <img src="../static/cmu-scotty-scarf.jpg" alt="scotty" width="100px">

    <h2>learn more about css animation:</h2>
    <a href="https://www.w3schools.com/css/css3_animations.asp"> W3 Schools</a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animations/Using_CSS_animations">MDN</a>

</body>
</html>