* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    font-size: x-large;
}

body {
    background-color: rgb(0, 90, 0);
}

.container {
    margin: auto;
    width: 30%;
}

h1 {
    text-transform: uppercase;
    background-color: white;
}

li {
    list-style: none;
}

.hot {
    background-color: rgb(255, 0, 170);
    color: white;
}

.cool {
    background-color: rgb(0, 255, 251);
    color: black;
}