<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello world!</h1>
    <button class="sticky" >CLICK ME</button>
    
    <!--this is an example for flex box-->
    <div class="Flex_container">
        <div>hey</div>
        <div>hey</div>
        <div>hey</div>
        <img id="scotty" width="100px" src="../static/imgs/cmu-scotty-scarf.jpg" alt="a dog">
    </div>
    <!--this is an example for grid-->
    <div class="grid_container">
        <header>hello header</header>
        <nav>hello nav </nav>
        <main>hello main</main>
    </div>
    <P>
        <img id="scotty" width="100px" src="../static/imgs/cmu-scotty-scarf.jpg" alt="a dog">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa possimus accusantium illo nulla adipisci sit esse, labore consequuntur error suscipit perspiciatis rerum nihil at asperiores amet repudiandae quo est libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas reprehenderit corporis culpa saepe delectus fugiat, dolore itaque vitae sed quis, earum iusto rerum necessitatibus eveniet ipsum, quod cumque! Tempora.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem esse repudiandae exercitationem ullam laboriosam dignissimos eligendi eius unde. Temporibus veniam ex officia, ad consequatur eius? Dolorem amet illum omnis.
    </P>
    
    <a href="http://">next page</a>

    
</body>
</html>